<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
html {
	font-family: "Arial", sans-serif;
}
a:link {
	text-decoration: none;
}
a {
	color: #446e9b;
}

@media only screen and (max-width:500px){
    body > table > tbody > tr > td:nth-child(1) {
	min-width: 70vw;
    }
}
</style>
<title>Maid-Generator</title>
</head>
<body>
{% block main %}{% endblock %}
<hr><small><a href="https://www.drivethrurpg.com/product/124551/Maid-The-RolePlaying-Game"> Buy the MAID RPG</a> – <a href="https://github.com/Niduroki/Maid-Generator">Source</a></small>
</body>
</html>
